{{! visit the site for the first time
THEN I am presented with the homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in
WHEN I click on the homepage option
THEN I am taken to the homepage }}

<div>
  {{#each posts}}
    <article class="card">
      <div>
        <h2>
          <a href="/posts/{{id}}">{{title}}</a>
        </h2>
        <div>
          Posted by:
          {{User.username}}
          on:
          {{format_date createdAt}}
        </div>
        <div class="card">
          {{body}}
        </div>
      </div>
    </article>
  {{/each}}
</div>